<img class="logo" src="assets/images/logo.png" alt="" />

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <select class="form-select" formControlName="type" id="type" required>
        <option value="" disabled selected hidden>Wybierz rodzaj wydarzenia</option>
        @for (type of eventTypes; track $index) {
        <option [value]="type">{{ type }}</option>
        }
    </select>

    <input class="form-control input-white" type="text" formControlName="city" placeholder="Wpisz miasto wydarzenia" />

    <input class="form-control input-white" [type]="focused || form.get('date')?.value ? 'month' : 'text'"
        formControlName="date" placeholder="Data wydarzenia" (focus)="focused = true" (blur)="focused = false" />

    <input class="form-control input-white" type="text" formControlName="clubCity"
        placeholder="Wpisz nazwę Twojego klubu i miasto" />

    <input #fileInput class="form-control input-files" type="file" multiple (change)="onFileSelected($event)" id="inputGroupFile03"
        aria-describedby="inputGroupFileAddon03" aria-label="Upload" />

    @if (loader) {
    <app-loader></app-loader>
    }

    <table>
        <tr>
            <td>
                <input class="terms1" type="checkbox" formControlName="terms" />
            </td>
            <td class="terms">
                Wyrażam zgodę na udostępnianie plików.
                <a (click)="openTermsModal(termsModal)">Kliknij tutaj</a> aby uzyskać
                szczegółowe infor-macje.
            </td>
        </tr>
    </table>
    <button class="btn send-btn" type="submit">Wyślij</button>
</form>



<!-- modal do regulaminu -->
<ng-template #termsModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Warunki i regulamin</h4>
    </div>
    <div class="modal-body">
        <p>
            Tutaj wklejasz treść regulaminu...<br />
            Możesz mieć przewijanie, więc nawet długi tekst nie „ucieka”. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, esse consequuntur sapiente veniam minima quisquam aliquam accusamus repudiandae! Totam repellat excepturi nemo quae dolorum, rem voluptas ratione itaque magni fugit!
            Fuga aspernatur placeat pariatur. Eligendi sequi nulla accusantium voluptas inventore ad laborum, obcaecati fuga ut qui ipsum vel cum aperiam autem quas magni sapiente temporibus omnis maxime. Neque, veritatis unde!
            Reprehenderit doloremque rem beatae, reiciendis qui ut laboriosam molestias repellat fuga neque sapiente. Libero cumque optio, iste amet, illum debitis laudantium eaque consectetur inventore velit adipisci nisi illo aut deleniti.
            Eos ducimus voluptate non odit eveniet expedita sequi dolore iusto beatae illum magni et dignissimos architecto, est error accusamus, consequatur a explicabo doloribus. Voluptates reprehenderit necessitatibus voluptatum sint, qui facilis.
            Culpa odit incidunt fugit facere quo perspiciatis ratione necessitatibus dolorem commodi aspernatur, illo aut expedita corrupti laboriosam reprehenderit vitae quod eum et earum dolor esse quam nulla illum voluptatem! Quae!
            Impedit modi, illo perferendis veniam, molestias eos corporis quam incidunt sed quos, earum ut cum odio asperiores quas eum nostrum nisi. Temporibus maiores a suscipit provident sequi quod fugiat nisi!
            Dolores, reprehenderit voluptatem fuga eligendi necessitatibus provident, accusantium consequatur, amet eos perferendis possimus ullam iure ad tempora corporis? Tempore quos fugiat alias, officia quaerat maiores at exercitationem ea quasi voluptas!
            Eum, aliquam! Recusandae, sequi nam. Modi, at earum et iste maxime vel? Facilis aut nostrum, impedit quisquam quas eum amet laudantium provident explicabo sed tenetur repellendus nesciunt ipsum. Sapiente, quam.
            Repellat, quia praesentium obcaecati necessitatibus, aspernatur dolores laborum alias illum architecto incidunt ab officia. Consequatur repudiandae odit, exercitationem voluptatem aliquid vitae beatae doloribus, aut iusto illo suscipit commodi ad iste!
            Tempora, sint! Quos, maiores ut. Beatae minus obcaecati enim similique doloremque nam excepturi asperiores totam nostrum recusandae voluptatem quibusdam in fugiat ab placeat inventore amet, magni eveniet! Rerum, expedita aliquam!
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="modal.close()">Zamknij</button>
    </div>
</ng-template>